@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Color variables */
    --green: #495e57;
    --yellow: #f4ce15;
    --peach: #ee9972;
    --light-peach: #fbdabb;
    --white:#edefee;
    --black: #333333;
    /* Font variables */
    --font-primary: 'Karla', sans-serif;
    --font-secondary: 'Markazi Text', serif;
  }
}

body {
  margin: 0;
  font-family:var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
/* Headings */
h1 {
  font-family: var(--font-secondary);
  font-size: 64px;
  line-height: 0.8em;
}

/* Subtitle */
h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
}

/* Section Titles */
h3 {
  font-size: 20px;
}

/* Section Title Smaller */
h4 {
  line-height: 1.4em;
  font-weight: bold;
}

/* Card Titles */

h5 {
  font-size: 18px;
  font-weight: bold;
}

/* CTA buttons */
.button {
  background-color: var(--yellow);
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  padding: 12px 18px;
  border-radius: 1em;
  display: inline-block;
}
.button-secondary {
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 1em;
}

/* Nav bar*/
nav li {
  font-weight: bold;
}
nav li:hover {
  color: var(--peach);
}

/* Hero section of Homepage */
.hero {
  background: var(--green);
}

.hero h1 {
  color: var(--yellow);
}

.hero h2, .hero h4 {
  color: var(--white);
}

/* Menu items section */
.price {
  color: var(--peach);
  font-weight: bold;
}

/* Testimonials section */
.reviews {
  background: var(--light-peach);
}
/* About section before the footer */
.about h1 {
  color: var(--green);
}

.about h2 {
  color: var(--yellow);
}
/* Footer */
footer {
  background: var(--green);
  color: var(--white);
}
footer h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

footer li:hover, footer .icon:hover {
  color: var(--peach);
}

/* Booking page */

header {
  color: var(--green);
}