@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */

@layer base {
  :root {
    --color-primary: rgb(49 75 41);
    --color-secondary: yellow;
    /* ... */
  }
}

body {
  margin: 0;
  font-family:'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Markazi';
  font-weight: bold;
  font-size: 40px;
}
p {
  font-size: 18px;
}

/* Hero section of Homepage */
.hero {
  background: var(--color-primary);
}

/* Testimonials section */
.reviews {
  background: var(--color-secondary);
}

/* Footer */

.footer {
  background: var(--color-primary);
}